{% extends "base.html" %}
{% block content %}
<head>
	<link rel="Stylesheet"  type="text/css" href="/static/main.css" >
	<meta http-equiv="Content-Type" content="text/html"charset="utf8">
	<link rel="shortcut icon" href="/static/mine.ico">
	<title>主页-All of Me</title>
</head>
<div id="container">
<div id="menu">
<h2>Alvin</h2>
<ul>
<li>星座：射手座</li>
<li>生日：10.25</li>
<li>qq:987054549</li>
</ul>
</div>

<div id="content">
	<p align="center">
	<img src="/static/alvin.jpg" alt="Alvin" width="300" height="400">
	</p>
</div>

<div id="footer">Copyright @Alvin-2015.5</div>

</div>
{% endblock %}